<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="list-group">
      <a
        class="list-group-item"
        routerLink="/technology/softEngineering/dataTransformation/dt1"
      >
        DT1
      </a>
      <a
        class="list-group-item"
        routerLink="/technology/softEngineering/dataTransformation/dt2"
      >
        DT2
      </a>
      <a
        class="list-group-item"
        routerLink="/technology/softEngineering/dataTransformation/dt3"
      >
        DT3
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <router-outlet></router-outlet>
  </div>
</div>
