<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="list-group">
      <a
        class="list-group-item"
        routerLink="/technology/softEngineering/dataTransformation"
      >
        Data Transformation
      </a>
      <a
        class="list-group-item"
        routerLink="/technology/softEngineering/passport"
      >
        Passport
      </a>
      <a class="list-group-item" routerLink="/technology/softEngineering/issac">
        ISSAC
      </a>
      <a class="list-group-item" routerLink="/technology/softEngineering/ecom">
        Ecom
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
  </div>
</div>
