<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="list-group">
      <a
        class="list-group-item"
        routerLink="/technology/softEngineering/passport/pp1"
      >
        PP1
      </a>
      <a
        class="list-group-item"
        routerLink="/technology/softEngineering/passport/pp2"
      >
        PP2
      </a>
      <a
        class="list-group-item"
        routerLink="/technology/softEngineering/passport/pp3"
      >
        PP3
      </a>
      <a
        class="list-group-item"
        routerLink="/technology/softEngineering/passport/pp4"
      >
        PP4
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <router-outlet></router-outlet>
  </div>
</div>
